doctype html
html
  head
    title= 'LocalVentas Web | '+title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    

  body
    nav
      div.col
        ul
          li.btn
            a(href="/services") Servicios
          li.btn
            a(href="/information") ¿Quiénes somos?
      div.col
        h2(class="title") Localventas
      div.col
        ul
          li.btn
            a(href="/register") Regístrate
          li
            a.btn-circled(href="") Iniciar sesión
    block content
    
    //block foot
        footer LOCALVENTAS
    
      

    
