extends ../layouts/layout

block styles 
  link(rel='stylesheet', href='/stylesheets/index.css')


block content
  
    div.container
      
      .element
        h1 EMPIEZA TU NEGOCIO
      
      .element  
        a.btn-circled.start(href="") Comienza ahora
      
      .element
        picture.product 
          img(src="/images/tennis.png", alt="", srcset="")