extends ../layouts/layout

block styles
    link(rel="stylesheet", href="/stylesheets/services.css")


block content
    main
        .container 
            header 
                h1 Servicios
            
            hr
